@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 5;
}

.aniMenu {
    transition: all 250ms;
}
.aniMenu:hover {
    transform: scale(1.02,1.05);
}

.fondoIndex {
    background-image: url(../assets/fondo6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 28rem;
}

.contContParrafo {
    display: flex;
}

.contParrafo {
    background-color: rgba( 255, 255, 255, 0.7);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
/*------------------------------------------*/
.fondoTurnos {
    background-image: url(../assets/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 28rem;
}

.relleno {
    height: 7.3rem;
}

/*--------------------------------------*/
.fondoEquipos {
    background-image: url(../assets/fondo5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 28rem;
}

/*--------------------------------------*/
.fondoPrepagas {
    background-image: url(../assets/fondo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 28rem;
}

.aniPrepagas {
    transition: all 250ms;
}
.aniPrepagas:hover {
    transform: scale(1.1,1.1);
}

/*--------------------------------------*/
.fondoContacto {
    background-image: url(../assets/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 28rem;
}

.aniRedes {
    transition: all 250ms;
}
.aniRedes:hover {
    transform: scale(1.1,1.1);
}
/*---------------------------------*/
.enviar {
    transition: all 250ms;
}

.enviar:hover {
    transform: scale(1.08,1.08);
}