@mixin repeat-size-position-height-radius {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 28rem;
    width: 900px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}