$bgrepeat: no-repeat;
$bgsize: cover;
$bgposition: center;
$bgheight: 28rem;

$bgradius: 5px;
$veltransition: all 250ms;
$objetfit: contain;

$animationrepeat: 1;
$animationlinear: linear;
$animationtiempo: 2s;